/* Mantine Styles are imported in app.tsx */
html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

/* Waiting for doctor animation */
.loader {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 12px;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #28a193;
}

.loader::before {
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  animation: loader-6 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.loader::after {
  top: 50%;
  left: 50%;
  animation: loader-7 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes loader-6 {

  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes loader-7 {

  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}